<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../iron-ajax/iron-ajax.html">
<link rel="import" href="../../d2l-hm-constants-behavior/d2l-hm-constants-behavior.html">
<link rel="import" href="../../d2l-link/d2l-link.html">
<link rel="import" href="../../d2l-simple-overlay/d2l-simple-overlay.html">
<link rel="import" href="../../d2l-typography/d2l-typography-shared-styles.html">
<link rel="import" href="../src/localize-behavior.html">
<link rel="import" href="d2l-assessments-list.html">

<dom-module id="d2l-upcoming-assessments">
	<template>
		<style>
			:host {
				display: block;
			}

			h2 {
				font-weight: normal;
				margin-left: 15px;
			}

			:host-context([dir="rtl"]) h2 {
				margin-left: 0px;
				margin-right: 15px;
			}

			.error-message, .no-upcoming-assessments, .view-all-assignments-link > h3 {
				@apply --d2l-body-compact-text;
			}

			.view-all-assignments-link > h3 {
				margin-bottom: 0;
			}

			.no-assessments-in-time-frame {
				text-align: center;
			}
		</style>


		<template is="dom-if" if="[[!_hasUpcomingAssessments(_assessments)]]">
			<div class="no-upcoming-assessments">[[_noUpcomingAssessmentsMessage]]</div>
		</template>

		<template is="dom-if" if="[[_hasUpcomingAssessments(_assessments)]]">
			<d2l-assessments-list assessment-items=[[_assessments]]></d2l-assessments-list>
		</template>

		<template is="dom-if" if="[[_showError]]">
			<div class="error-message">[[localize('errorMessage')]]</div>
		</template>

		<a class="view-all-assignments-link"
			is="d2l-link"
			on-tap="_openAllAssignmentsView"
			on-keypress="_keypressOpenAllAssignmentsView" >
			<h3>[[localize('viewAllAssignments')]]</h3>
		</a>

		<d2l-simple-overlay
			id="view-all-assignments-overlay"
			title-name="[[localize('viewAllAssignments')]]"
			locale="[[locale]]"
			close-simple-overlay-alt-text="[[localize('closeSimpleOverlayAltText')]]"
			with-backdrop>
			<div class="no-assessments-in-time-frame">[[_noAssessmentsInThisTimeFrame]]</div>
		</d2l-simple-overlay>
	</template>

	<script src="https://s.brightspace.com/lib/siren-parser/6.0.0/siren-parser.js"></script>
	<script>
		'use strict';

		Polymer({
			is: 'd2l-upcoming-assessments',

			properties: {
				userUrl: String,
				token: String,
				lmsUrl: String,
				_assessments: {
					type: Array,
					value: function() {
						return [];
					}
				},
				_userName: String,
				_showError: {
					type: Boolean,
					value: false
				},
				_noUpcomingAssessmentsMessage: {
					type: String,
					computed: 'localize("noUpcomingAssessments", "userName", _userName)'
				},
				_noAssessmentsInThisTimeFrame: String
			},

			behaviors: [
				window.D2L.UpcomingAssessments.LocalizeBehavior,
				window.D2L.Hypermedia.HMConstantsBehavior
			],

			observers: [
				'_onApiConfigChanged(userUrl, lmsUrl, token)'
			],

			_debounceTime: 20,

			_getInfo: function() {
				var self = this;

				return this._fetchEntity(self.userUrl)
					.then(function(userEntity) {
						return self._getActivityUsages(userEntity);
					})
					.then(function(activities) {
						return self._getActivityUsagesInfo(activities);
					})
					.then(function(activities) {
						self._updateActivitiesInfo(activities);
					})
					.catch(function() {
						self._onError();
					});
			},

			_onError: function() {
				this._showError = true;
			},

			_onApiConfigChanged: function() {
				this.debounce('getInfo', this._getInfo, this._debounceTime);
			},

			_hasUpcomingAssessments: function() {
				return this._assessments && this._assessments.length > 0;
			},

			_getActivityUsages: function(userEntity) {
				this._userName = (userEntity.getSubEntityByRel(this.HypermediaRels.firstName) || { properties: {} }).properties.name;
				this._showError = false;

				var myActivitiesLink = (userEntity.getLinkByRel(this.HypermediaRels.Activities.myActivities) || {}).href;

				if (myActivitiesLink) {
					return this._fetchEntity(myActivitiesLink);
				}
			},

			_getActivityUsagesInfo: function(activities) {
				var requests = [];
				var orgPromiseMap = new Map();
				var self = this;

				activities.getSubEntitiesByClass('user-assignment-activity').forEach(function(assignment) {
					if (assignment.getSubEntityByClass('due-date')) {

						var assignmentLink = assignment.getLinkByRel(self.HypermediaRels.assignment).href;
						var orgUnitLink = (assignment.getLinkByRel(self.HypermediaRels.organization) || {}).href;

						if (!orgUnitLink) {
							// bleh
							var activityUsageLink = assignment.getLinkByRel(self.HypermediaRels.activityUsage).href;
							orgUnitLink = self.lmsUrl + '/d2l/api/hm/organizations/' + /usages\/([0-9]+)/.exec(activityUsageLink)[1];
						}

						var orgUnitRequest = orgPromiseMap.get(orgUnitLink);

						if (!orgUnitRequest) {
							orgUnitRequest = self._fetchEntity(orgUnitLink);
							orgPromiseMap.set(orgUnitLink, orgUnitRequest);
						}

						var assignmentRequest = self._fetchEntity(assignmentLink);

						var request = new Promise(function(resolve) {
							Promise.all([assignmentRequest, orgUnitRequest])
								.then(function(response) {
									var activity = response[0];
									var organization = response[1];

									resolve({
										name: activity.properties.name,
										dueDate: activity.properties.dueDate,
										courseName: organization.properties.name
									});
								});
						});

						requests.push(request);
					}
				});

				return Promise.all(requests);
			},

			_updateActivitiesInfo: function(activities) {
				var msPerDay = 86400000;
				var currentDateTime = new Date();

				activities = activities
					.filter(function(activity) {
						return activity.dueDate;
					})
					.sort(function(a, b) {
						return a.dueDate > b.dueDate;
					});

				var basicListActivities = activities
					.slice(0, 4)
					.filter(function(activity) {
						var activityDueDate = new Date(activity.dueDate);

						if (activityDueDate - currentDateTime > 0) {
							var startOfWeek = new Date(currentDateTime.setHours(currentDateTime.getDay() * -24)).setHours(0, 0, 0, 0);
							var dateDiff = Math.floor((activityDueDate - startOfWeek) / msPerDay);

							return dateDiff < 14;
						}
					});

				this.set('_assessments', basicListActivities);
			},

			_keypressOpenAllAssignmentsView: function(e) {
				if ( e.code === 'Space' || e.code === 'Enter' ) {
					return this._openAllAssignmentsView(e);
				}
			},

			_openAllAssignmentsView: function() {
				this.$['view-all-assignments-overlay'].open();
			},

			_getJson: function(response) {
				if (response.ok) {
					return response.json();
				}
				return Promise.reject(response.status + ' ' + response.statusText);
			},

			_fetchEntity: function(url) {
				var request = new Request(url, {
					headers: new Headers({
						Accept: 'application/vnd.siren+json',
						Authorization: 'Bearer ' + this.token
					})
				});

				return window.d2lfetch
					.fetch(request)
					.then(function(response) {
						if (response.ok) {
							return response.json();
						}
						return Promise.reject(response.status);
					})
					.then(function(response) {
						return window.D2L.Hypermedia.Siren.Parse(response);
					});
			},

			_parseEntity: function(entity) {
				return window.D2L.Hypermedia.Siren.Parse(entity);
			}
		});

	</script>
</dom-module>
